# Exclude All
*

!*/

# common git assets
!.gitignore
!LICENSE
!Makefile
!README.md
!Bender.yml
!nice_pkg.core
!.github/**/*

# sources, tests, docs, etc.
!ref/**/*
!sim/**/*
!src/sv/**/*
!src/python/**/*
!scripts/*

# toml configurations
!.svls.toml
!.svlint.toml
!pyproject.toml

# IDE stuff
!nice.code-workspace

# Ignore since not ignored for some reason
vendor/**/*
