# Exclude everything
*

# Allow un-excluding files within directories
!*/

# Explicitly un-exclude what is relevant
!bin/**/*
!ref/**/*
!src/**/*
!docs/**/*.tar.gz

!.gitignore
!.svls.toml
!.svlint.toml
!LICENSE
!Makefile
!README.md
!Bender.yml
!base-agent.core
